#baseT{
  background: darkgray;
  height: 700px;
  margin: 0 auto;
  margin-top: 100px;
  color: white;
  text-align: center;
  padding: 20px;
}
h2{
  margin-top: 30px;
}

h5{
  color: purple;
}
#playerselectionbody{
  height: 200px;
  width: 700px;
  background: green;
  margin-top: 10%;
}

h3{
  margin-top: 20px;
}

#playerinputbox{
  display: inline;

}

#playersignX, #playersignO{
  display: inline-block;
  font-size: 30px;
  background: red;
  margin: 10px;
  
}